POSTGRES_ADMIN=postgres_user
POSTGRES_ADMIN_PASSWORD=changeme_here

APP_USER=app_user
APP_PASSWORD=changeme_here

# User for healthcheck
HC_USER=hc_user
HC_PASSWORD=changeme_here

# Database name
POSTGRES_DB=lypka_db
