services:
  reverse-proxy:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./ssl:/etc/nginx/certs:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
    ports:
      - "80:8080"
      - "443:8443"
    depends_on:
      - backend
    networks:
      - backend_network
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - .env
    networks:
      - backend_network
      - db_network
    expose:
      - "5000"
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:${PORT}/health || exit 1"]
      interval: 1m
      timeout: 7s
      retries: 3
      start_period: 20s
  db:
    build:
      context: ./db
      dockerfile: Dockerfile
    volumes: 
      - ./db/init:/docker-entrypoint-initdb.d
      - db_data:/var/lib/postgresql/data
    env_file:
      - .env
    networks:
      - db_network
    expose:
      - "5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${HC_USER} -d ${POSTGRES_DB}"]
      interval: 1m
      timeout: 7s
      retries: 3
      start_period: 20s
volumes:
  db_data:
    driver: local
networks:
  backend_network:
    driver: bridge
  db_network:
    driver: bridge